<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989070411476-me4kmierjeqmktfif5toaiksa856mdhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989070411476-me4kmierjeqmktfif5toaiksa856mdhn</string>
	<key>API_KEY</key>
	<string>AIzaSyBtgDTehKpND7fIKV1Igz1lL2ee4LuikWk</string>
	<key>GCM_SENDER_ID</key>
	<string>989070411476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autofood</string>
	<key>PROJECT_ID</key>
	<string>twigger-93153</string>
	<key>STORAGE_BUCKET</key>
	<string>twigger-93153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989070411476:ios:7cb60d8304fe68a1ac9d41</string>
	<key>DATABASE_URL</key>
	<string>https://twigger-93153.firebaseio.com</string>
</dict>
</plist>